@use 'color-constants' as colors;

.primary-checkbox {
  -fx-background-color: -primary-background-color;

  .box {
    -fx-background-color: -primary-background-color;
    -fx-border-color: -primary-border-color;
    -fx-border-radius: 2px;
  }

  &:selected {
    .box {
      -fx-background-color: -primary-indicator-color;
      -fx-border-color: -primary-indicator-color;
      -fx-border-radius: 2px;
    }

    .mark {
      -fx-background-color: -primary-background-color;
    }
  }
}
