$primary-indicator-color-light: #071F46;
$primary-indicator-color-dark: #B9D1F8;

$primary-indicator-highlighted-color-light: #203559;
$primary-indicator-highlighted-color-dark: #A7BCDF;

$secondary-indicator-color-light: #D1DBE0;
$secondary-indicator-color-dark: #1F292E;

$secondary-indicator-highlighted-color-light: #BCC5CA;
$secondary-indicator-highlighted-color-dark: #353E43;

$primary-text-color-light: #FFFFFF;
$primary-text-color-dark: #000000;

$secondary-text-color-light: #323232;
$secondary-text-color-dark: #CDCDCD;

$primary-background-color-light: #FFFFFF;
$primary-background-color-dark: #000000;

$secondary-background-color-light: #E1E1E1;
$secondary-background-color-dark: #1E1E1E;

$primary-shadow-color-light: #000000;
$primary-shadow-color-dark: #FFFFFF;

$primary-button-text-color-light: #FFFFFF;
$primary-button-text-color-dark: #000000;

$secondary-button-background-color-light: #D1DBE0;
$secondary-button-background-color-dark: #2F292E;

$secondary-button-text-color-light: #404040;
$secondary-button-text-color-dark: #BFBFBF;

$text-field-background-color-light: #F0F0F0;
$text-field-background-color-dark: #2B2930;

$secondary-border-color-light: #DCDCDC;
$secondary-border-color-dark: #232323;

$primary-border-color-light: #C0C0C0;
$primary-border-color-dark: #3f3f3f;
