@use 'colors' as colors;

.primary-button {
    -fx-background-color: colors.$primary-indicator-color-light;
    -fx-text-fill: colors.$primary-button-text-color-light;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;

    &:hover {
        -fx-background-color: colors.$primary-indicator-highlighted-color-light;
    }
}

.secondary-button {
    -fx-background-color: colors.$secondary-indicator-color-light;
    -fx-text-fill: colors.$secondary-button-text-color-light;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;

    &:hover {
        -fx-background-color: colors.$secondary-indicator-highlighted-color-light;
    }
}
