@import 'colors';
@import 'buttons';
@import 'checkbox';

.primary-text-area {
    -fx-background-color: $primary-background-color-light;
    -fx-faint-focus-color: $primary-background-color-light;
    -fx-focus-color: $primary-background-color-light;
    -fx-border-color: $primary-background-color-light;
    -fx-border-radius: 0;
}

.primary-text-area .content {
    -fx-background-color: $primary-background-color-light;
}

.primary-text-area:focused .content {
    -fx-background-color: $primary-background-color-light;
}

.rounded-text-box {
    -fx-background-color: $primary-background-color-light;
    -fx-background-radius: 15px;
    -fx-border-color: $secondary-border-color-light;
    -fx-border-width: 1px;
    -fx-border-radius: 15px;
    -fx-padding: 5px;

    &:focused {
        -fx-border-color: $primary-border-color-light;
        -fx-border-width: 1.5px;
        -fx-padding: 4.5px;
    }
}

