# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/modules.xml
/jarRepositories.xml
/compiler.xml
/libraries/
*.iws
*.iml
*.ipr

/**/workspace.xml
/**/tasks.xml
/**/usage.statistics.xml
/**/dictionaries
/**/shelf

/**/gradle.xml
/**/libraries

/artifacts
/modules
